VITE_GET_INVENTORY_URL=
VITE_UPSERT_INVENTORY_URL=
VITE_DELETE_INVENTORY_URL=
VITE_GET_ALERTS_URL=
VITE_UPDATE_ALERT_STATUS_URL=
VITE_UPSERT_ALERT_URL=
VITE_GET_PURCHASES_URL=
VITE_UPSERT_PURCHASE_URL=
