VITE_GET_INVENTORY_URL=
VITE_UPSERT_INVENTORY_URL=
VITE_DELETE_INVENTORY_URL=
VITE_GET_ALERTS_URL=
VITE_UPDATE_ALERT_STATUS_URL=
VITE_UPSERT_ALERT_URL=
VITE_GET_PURCHASES_URL=
VITE_UPSERT_PURCHASE_URL=
VITE_GET_PROPERTIES_URL=
VITE_UPSERT_PROPERTY_URL=
VITE_DELETE_PROPERTY_URL=
VITE_GET_VISITS_URL=
VITE_UPSERT_VISIT_URL=
VITE_GET_TASKS_URL=
VITE_UPSERT_TASK_URL=
VITE_GET_TEAMS_URL=
VITE_GET_USERS_URL=
VITE_GET_VISIT_TYPES_URL=
